*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    text-align: center;
    font-size: 1.1em;
}
h1
{
    background-color: #101010;

}
#bouton
{
    color: black;
    background-color: rgb(133, 133, 133);
}
.couleurtitre 
{
    background-color: black;
}